div.card {
  background-color: #9fd450;
  border-style: solid;
  border-color: #f7e370;
  border-width: 30px
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
  width: 390px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}
div.name {
  color: black;
  font-family: 'Gill Sans Std','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 140%;
}
attack {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 120%;
}
attackSub {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 100%;
}
div.text {
  padding-top: 10%;
  color: black;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}
img.energyIcon {
  width: 20px;
  height: 20px;
}
