div.card {
  background-color: #9fd450;
  border-style: solid;
  border-color: #f7e370;
  border-width: 100px
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
  width: 390px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}
div.name {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 200%;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}
a {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 120%;
  text-decoration: none;
}
a.hover {
  color: #ff33cc;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 120%;
  text-decoration: none;
}
a.visited {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 120%;
  text-decoration: none;
}
attackSub {
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 100%;
}
div.attacks {
  margin-left: 20px;
  margin-right: 20px;
}
img.energyIcon {
  width: 20px;
  height: 20px;
}
