div.card {
  background-color: #9fd450;
  border-style: solid;
  border: 15px #f7e370;
  border-radius: 15px;
  padding: 7px;
  margin: 50px;
  width: 370px;
  height: 510px;
}
div.name {
  color: black;
  font-family: 'Gill Sans Std','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: bold;
  font-size: 200%;
}
attack {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: bold;
}
attackSub {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 60%;
}
div.text {
  padding-top: 10%;
  color: black;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}
img.energyIcon {
  width: 20px;
  height: 20px;
}
